.add-btn {
  padding: 10px auto;
  margin: 1em auto;
  background-color: #FEB1C0;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: all 0.2s cubic-bezier(.4,0,.2,1);
  width: 160px;
  height: 35px;
  text-align: center;
  /* margin-left: 120px; */
  /* margin-top: 20px; */
}
.add-btn:hover{
  letter-spacing: 0.3em;
  background-color: #F08C99;
  border: none;
}